.linksMenu {
  position: fixed;
  top: 50vh;
  right: 5vw;
  left: 70vw;
  transform: translateY(-50%);
  text-align: right;
  font-size: 1.5em;
}

.menuUl {
  list-style-type: none;
  font-family: SpaceMono;
  text-transform: capitalize;
}

.menuUl>li:not(:last-child) {
  padding-bottom: 8vh;
}

.linksMenu>.menuUl>li>a {
  text-decoration: none;
  color: black;
}

.mobileMenuElem {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px),
(max-height: 600px) {
  .linksMenu {
    display: none;
  }
}