.header {
  font-family: SpaceMono;
  font-size: 2em;
}

.paragraph {
  padding-top: 1em;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (max-width: 700px) {
  .header {
    text-align: center;
  }
}
